/*vanilla-js-wheel-zoom*/

/*viewport 5 by 4*/

#myViewport {
	cursor:				grab;
	display:			flex;
    align-items:		center;
    justify-content: 	center;
	width:				auto;
	height:				calc(100vw * 0.309);
	overflow:			hidden;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
	background: linear-gradient(#e7e7e7, transparent),
				radial-gradient(ellipse at bottom, #c0c0c0, #d0d0d0);
	}
	
#myImage {
	width: auto;
	height: auto;
	margin: 0;
    }

@media (max-width: 1280px) {
  #myViewport {
  height:calc(100vw * 0.309);
  }
@media (max-width: 1024px) {
  #myViewport {
  height:calc(100vw * 0.683);
  }
}
@media (max-width: 736px) {
  #myViewport {
  height:calc(100vw * 0.665);
  }
}
@media (max-width: 640px) {
  #myViewport {
  height:calc(100vw * 0.66);
  }
@media (max-width: 480px) {
  #myViewport {
  height:calc(100vw * 0.71);
  }
